/*
crna #1e1e1e
bela #f7f7f7

*/


/* === GENERAL === */
html, html a, body {
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  background: #1e1e1e;
}

p {
  font-size: 18px;
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
  color: #f7f7f7;
  line-height: 1.4;
  margin-bottom: 15px;
}

orange {
  color: #f48024;
  font-weight: 800;
}

em,
li,
li a {
  font-size: 16px;
  font-weight: 100;
  font-family: 'Ubuntu', sans-serif;
  color: #f7f7f7;
}

a {
  color: #f7f7f7;
}

a:focus, a:hover, a:active {
  color: gray;
  text-decoration: none;
}

span {
  color: #f7f7f7;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}


b {
  font-size: 14px;
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
  color: #f48024;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif;
  color: #f7f7f7;
  line-height: 1.4;
  margin: 0 0 15px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 22px;
}

.content-lg {
  padding-top: 100px;
  padding-bottom: 100px;
}

.content-md {
  padding-top: 50px;
  padding-bottom: 50px;
}

.content-sm {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* === NAVBAR === */
.navbar {
  padding-right: 50px;
  border-top: 4px solid #f48024;
  box-shadow: 0 0 4px #1e1e1e;

  background: #1e1e1e; /* For browsers that do not support gradients */        
  background: -webkit-linear-gradient(-125deg,#1e1e1e , #1e1e1e, transparent, transparent, transparent); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-125deg,#1e1e1e , #1e1e1e, transparent, transparent, transparent); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-125deg,#1e1e1e , #1e1e1e, transparent, transparent, transparent); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-125deg,#1e1e1e , #1e1e1e, transparent, transparent, transparent); /* Standard syntax (must be last) */
}

.navbar-light
.navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  color: #f48024;
}
.navbar-nav a:focus
.navbar-nava a:hover
 .hover>.nav-link,
.navbar-light .navbar-nav .nav-link.hover,
.navbar-nav .focus>.nav-link,
.navbar-light .navbar-nav .nav-link.focus, {
  color: gray;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 18px;
  font-weight: bold;
  color: #f7f7f7;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(244,128,36, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* === PROMO BLOCK === */
#header {
  background: url('../img/header-section-bg.jpg') 50% 0 no-repeat fixed;
  min-height: 500px;
  color: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-shadow: inset 0px 0px 40px 4px rgba(0,0,0,0.5);
}
.promo-block {
  padding: 220px 0 130px;
}

.promo-block .promo-block-title {
  font-family: 'Ubuntu', sans-serif; 
  font-size: 100px;
  color: #1e1e1e;
  line-height: 1;
}

.promo-block .promo-block-text {
  font-size: 25px;
  color: #1e1e1e;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  border-bottom: 2px solid black;
  padding-bottom: 20px;
}

.list-inline-item:nth-of-type(-n+2) {
    border-right: 2px solid #1e1e1e;
}

.fa {
  color: #1e1e1e;
}

.fa-spin-hover:hover {
  -webkit-animation: fa-spin 2s infinite linear;
  -moz-animation: fa-spin 2s infinite linear;
  -o-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

@media (max-width: 480px) {
  .promo-block .promo-block-title {
    font-size: 50px;
  }
}

/* === ABOUT === */
#about p {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: #f7f7f7;
}


.text-right {
  padding:0 20px 20px 0;
  box-shadow: 15px 15px 20px 1px #f48024;
}
/* === [PROGRESS BAR] === */

.progress-box .progress {
  box-shadow: none;
  height: 2px;
  margin-bottom: 10px;
  background: #515769;
}

.progress-box .progress-bar {
  -webkit-transition-duration: 2000ms;
          transition-duration: 2000ms;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
          transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.bg-color-base {
  background: #f48024;
}

/* === PARALAX PIC === */

.paralax-pic {
  background: url('../img/paralax-pic.jpg') 100% no-repeat fixed;
  min-height: 300px;
  color: #1e1e1e;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-shadow: inset 0px 0px 40px 4px rgba(0,0,0,0.5);
}

/* === CONTACT === */
#contact .pipe {
    border-left: 2px solid #f48024;
}


#contact b {
  font-size: 38px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #1e1e1e; /* Set a background color */
    color: #f48024; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}



/* === [FOOTER] === */
footer {
  background: #1e1e1e;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  height: 45px;
border-bottom: 4px solid #f48024;
}

footer p {
  padding-top: 15px;
  margin: 0;
  color: #f48024;
}


@media (max-width: 992px) {
  .paralax-pic {
    min-height: 150px;
  }

  .text-right {
    clear: both;
    margin-bottom: 50px;

  }
}
@media (max-width: 768px) {
  .text-right {
    clear: both;
    margin-bottom: 50px;

  }
}
@media (max-width: 480px) {
  .paralax-pic {
    min-height: 50px;
  }

  .text-right {
    clear: both;
    margin-bottom: 50px;

  }
}